<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ДЗ произведение элементов</title>
</head>
<body bgcolor="gray">
<div align="center">
    <form action="/dz">
        A= <input type="text" name="aaa"><br>
        B= <input type="text" name="bbb"><br>
        C= <input type="text" name="ccc"><br>
        D= <input type="text" name="ddd"><br>
        E= <input type="text" name="eee"><br>
        <input type="submit">
    </form>
</div>
<div align="center">
    <table border="1" width="50%" bgcolor="white">
        <tr>
            <td width="20">
                Ответ:
            </td>
            <td width="80">
                {{o}}
            </td>
        </tr>
    </table>
</div>
<a href="http://172.16.208.135:5000/kv">перейти на главную</a>
</body>
</html>