<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<br>
{% set aple=1 %}
{{aple}}

{% if aple==0 %}
<font color="red">Все хорошо</font>
{% else %}
<font color="green">Все плохо</font>
{% endif %}
<br>
<table border="1">
    <tr bgcolor="yellow">
        <td>id</td>
        <td>name</td>
        <td>phone</td>
    </tr>
    {% for i in rezult %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.phone}}</td>
    </tr>
    {%endfor%}
</table>
</body>
</html>